.footer {
  width: 100vw;

  .attribution {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;
  }

  .picture {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-image: url($imageRSS);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 60px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 2px;

    &:hover {
      color: $score-text;
    }
  }

  .rules {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 7px 25px;
    border-radius: .4rem;
    border: 3px solid $header-outline;
    color: lighten($header-outline, 20%);
    background: none;
    font-weight: 600;
    letter-spacing: 2px;

    &:hover {
      background-color: rgba($color: #ffffff, $alpha: 0.8);
      color: $dark-text;
      cursor: pointer;
    }
  }
}